@using API.DTOs;
@using Domain.Enum;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Clients";
}
 <form id="CreateNewClient" method="post">
    <h3>Create a new Employees</h3>
    <p>
        <label for="Name">Name:</label>
        <input type="text" name="Name" />
    </p>
    <p>
        <label for="СodeOfTheCountry">Сode Of The Country:</label>
        <input type="СodeOfTheCountry" name="СodeOfTheCountry" />
    </p>
    <p>
        <label for="RegionCode">Region Code:</label>
        <input type="text" name="RegionCode" />
    </p>
    <p>
        <label for="SubscriberNumber">Subscriber Number:</label>
        <input type="text" name="Subscriber Number" />
    </p>
    <input type="button" id="saveNewClient" value="Save" />
</form>
<script type="text/javascript">
... 
$('#saveNewClient').click(function()
         {
              $.post("api/Client",
                    $("#CreateNewClient").serialize(),
                    function(value)
                    {
                         $('#clients').append('<li>' + value.Name + '</li>');
                    },
                    "json"
              );
         });
</script>
