@{
}
<div>
    <h2 class="display-10">Client</h2>
</div>
<div>
    <a asp-area="" asp-controller="Client" asp-action="CreateFormClientView">New Clients</a>
</div>
<div>
    <a asp-area="" asp-controller="Client" asp-action="AllClients">All Clients</a>
</div>
<div>    
    <a asp-area="" asp-controller="Client" asp-action="SelectingClientView">Select Client</a>  
</div>
<div>
    <a asp-area="" asp-controller="Client" asp-action="AllClients">Update Client</a>
</div>
<div>
    <a asp-area="" asp-controller="Client" asp-action="AllClients">Delete Client</a>
</div>
