@{
    ViewData["Title"] = "Home Page";
}

<div>
    <img class="left" src="https://targetmedia.com.ua/my_content/uploads/2019/06/crm_customer-relationship-management-100752744-large.jpg" alt="" />
</div>

