@{
}
<div>
    <h2 class="display-10">Position</h2>
</div>
<div>
    <a asp-area="" asp-controller="Position" asp-action="CreateFormPositionView">New Position</a>
</div>
<div>    
    <a asp-area="" asp-controller="Position" asp-action="SelectingPositionView">Select Position</a>
</div>
