@using UI.Models.Contract

@model Contract
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using (Html.BeginForm("UpdateContract", "Contract", FormMethod.Post))
{
    <p>
        <span>@Html.DisplayNameFor(model => model.Address):</span>
    </p>
    <p>
        <input type="text" name="Address" />
    </p>
    <p>
        <span>@Html.DisplayNameFor(model => model.Subject):</span>
    </p>
    <p>
        <input type="text" name="Subject" />
    </p>
    <p>
        <span>@Html.DisplayNameFor(model => model.Price):</span>
    </p>
    <p>
        <input type="number" name="Price" />
    </p>
    <p>
        <span>@Html.DisplayNameFor(model => model.ClientId):</span>
    </p>
    <p>
        <input type="number" name="SubscriberNumber" />
    </p>
    <p>
        <input type="submit" value="save" />
    </p>
}
