@{
}
<div>
    <h2 class="display-10">Contract</h2>
</div>
<div>
    <a asp-area="" asp-controller="Contract" asp-action="CreateFormContractView">New Contract</a>
</div>
<div>    
    <a asp-area="" asp-controller="Contract" asp-action="SelectingContractView">Select Contract</a>  
</div>
