@{
}
<div>
    <h2 class="display-10">Employee</h2>
</div>
<div>
    <a asp-area="" asp-controller="Employee" asp-action="CreateFormEmployeeView">New Employee</a>
</div>
<div>
    <a asp-area="" asp-controller="Employee" asp-action="AllEmployees">All Employees</a>
</div>
<div>    
    <a asp-area="" asp-controller="Employee" asp-action="SelectingEmployeeView">Select Employee</a>  
</div>
