@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Select Work Plan</h2>

@using (Html.BeginForm("SelectWorkPlan", "WorkPlan", FormMethod.Get))
    {
        <span>Enter position id:</span>
        <input type="number" name="id"/>
        <input type="submit" value="go"/>
    }