@{
}
<div>
    <h2 class="display-10">Work Plan</h2>
</div>
<div>
    <a asp-area="" asp-controller="WorkPlan" asp-action="CreateFormWorkPlanView">New Work Plan</a>
</div>
<div>    
    <a asp-area="" asp-controller="WorkPlan" asp-action="SelectingWorkPlanView">Select Work Plan</a>
</div>
